//colors
$part-menu-color: #0853a2;
$base-color: #efeeee;
$country-color:#888;
$partner-arrow:#E1E1E1;

//fonts
$base-font : Bariol-Regular;
$footer-font: HelveticaNeueCyr;
$font-Intro-Regular : Intro-Regular;
$font-HelveticaNeueCyr-Light: HelveticaNeueCyr-Light;

//margin
$footer-margin-top: 78px;

//background
$background-featured: url("../img/roman/background-featured.png") no-repeat;