
@media screen and (max-width: 991px) {
  .footer {
    height: 530px;
  }
  .footer-nav {
    margin-top: 35px;
  }
  .footer-logo {
    padding-top: 20px;
  }
  .footer-soc {
    padding-left: 30px;
  }
  .grafik {
    padding-left: 15px;
  }
  .featured {
    height: 560px;
  }
}