.mob-header-block {
  display: none;
}

.mob-logo {
  background-image: url(/img/mob-heder/logo.png);
  background-size: cover;
  padding: 10px 0 15px 0
}
.mob-header-call-blok {
  a {
    cursor: pointer;
  }
  position: relative;
  top: 1px ;
  display: inline-block;
  padding: 3px 5px  0 5px ;
  background-color: $part-menu-color;
/*  margin: 0  30px ;*/
  h2 {
    position: relative;
    top:-4px;
    display: inline-block;
    margin: 0 2px ;
    color: $base-color;
    font-size: 14px;
    //font-weight: 500;
  }
}

.mob-header-call {
  a {
    cursor: pointer;
  }
  display: inline-block;
  position: relative;
  top: -1px ;
  font-size: 16px;
  color: $base-color;
  border-radius: 50%;
  border-width: 2px;
  border-color: $base-color;
  border-style: solid;
  width: 21px;
  height: 21px;
  i {
    position: relative;
    top: -1px;
    left: 2px;
    &:hover {
      color:black;
    }
  }
}
.mob-parts-menu {
  @include simple-menu ($part-menu-color, $base-color);
}
.mob-produkt-menu {
  padding-right: 10px ;
  border-right: 1px solid #3AD8D8;
  text-align: left;
  @include simple-menu ($base-color,$part-menu-color);
}

.mob-check-menu {
  display: none;
 @extend .check-menu;
}
.mob-product-table {
  display: none;
}

.mob-menu {
  display: none;
  text-align: left;
}

.mob-menu-td {
  border-top: none !important;
  border-bottom: 1px solid #ddd;
  a {
    color: #81909B;
  }
}

.darkness {
  padding: 20px 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.mob-active-menu {
  text-align: right;
  height: 30px;
  border-bottom: 3px solid #32A5AC;
  background-color: #0CC;
}
.mob-info-block {
  position: relative;
}
.mob-info-menu {
  position: absolute;
  right: -15px;
  top: 0px;
  span {
    margin: 0px;
    padding: 0px;

  /*  border-left: 1px solid #3AD8D8;*/
    display: inline-block;
    i {
      padding: 4px 7px 3px 7px ;
      color: $base-color;
      font-size: 20px;
      margin: 0;
    }
  }
  li:first-child {
/*    border: 1px solid #3AD8D8;*/
  }
}
.wrap-info-menu {
  padding: 20px 0;
}

.header-serch {
  display: block;
  position: relative;
  input {
    width: 100%;
    height: 37px;
    border: 1px solid #ECF0F1;
    padding: 5px 15px;
  }
}
.mob-search {
  display: none;
@extend .header-serch;
}


.mob-search-button {
  position: absolute;
  top: 1px;
  right: 0px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 0px;

}

.mob-call-phone {
  padding: 10px 0;
  display: inline-block;
  h2{
    font-size: 10px;
    color: $country-color ;
    margin: 0;
  }
  h3{
    font-size: 12px;
    color:$part-menu-color;
     margin: 0;
  }
}
.mob-call-bloc {
  display: none;
}
.mob-call {
  float: right;
  display: inline-block;
}
.mob-call-button {
  position: relative;
  top:8px;
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: $part-menu-color ;
  font-family: Intro;
  border-bottom: 2px solid #074383;
  color: #ffffff;
  font-size: 10px;
}

.header-basket_block{
  position:relative;
  margin-top: 22px;
  color:#0853a2;
  .basket-circle{
    position: absolute;
    background: blue;
    color:white;
    width:20px;
    height:20px;
    border-radius: 100%;
    left:30px;
    bottom:27px;
  }
  span{
    color:gray;
  }
}
.header-basket{
  background: #add965;
  color:white;
  margin-right: 10px;
  padding: 11px;
  border-radius: 7px;

  .fa-shopping-cart{
    font-size: 14pt;
    color:white;
  }
}

.mob-baked {
  display: none;
  height: 70px ;
  position: relative;
}

.header-basket_block {
  position: absolute;
  right: 75px;
}



#secondSlider{
  .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
}